<!DOCTYPE html>
<html>

<head>
    <title>Dataset Analysis</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<h1 class="dashboard-title">
    Dataset Analysis Report
</h1>

<div class="summary-box">

    <h2>Dataset Overview</h2>

    <p><b>Rows:</b> {{ profile.rows }}</p>

    <p><b>Columns:</b> {{ profile.columns }}</p>

    <p><b>Missing Values:</b> {{ profile.missing_values }}</p>

    <p><b>Duplicates:</b> {{ profile.duplicates }}</p>

</div>

<div class="summary-box">

    <h2>Columns</h2>

    <p>{{ profile.column_names }}</p>

</div>

<div class="summary-box">

    <h2>Numeric Columns</h2>

    <p>{{ profile.numeric_columns }}</p>

</div>

<div class="summary-box">

    <h2>Text Columns</h2>

    <p>{{ profile.text_columns }}</p>

</div>
<div class="summary-box">

    <h2>Statistics</h2>

    {% for column, values in statistics.items() %}

        <h3>{{ column }}</h3>

        <p>Average: {{ values.mean }}</p>

        <p>Maximum: {{ values.max }}</p>

        <p>Minimum: {{ values.min }}</p>

        <p>Total: {{ values.sum }}</p>

        <hr>

    {% endfor %}

</div>
<div class="summary-box">

    <h2>Executive Summary</h2>

    <p>
        {{ summary }}
    </p>

</div>
<div class="summary-box">

    <h2>Dynamic Visualization</h2>

    {{ chart|safe }}

</div>
<a href="/" class="download-btn">
    Back To Dashboard
</a>
<br>

<a href="/download/pdf"
   class="download-btn">
   Download PDF
</a>

<a href="/download/docx"
   class="download-btn">
   Download DOCX
</a>
</body>
</html>