<!DOCTYPE html>
<html>

<head>

    <title>AI Analytics Platform</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1 class="title">
        AI Analytics Platform
    </h1>

    <div class="hero">

        <h2>
            Upload Any Dataset
        </h2>

        <p>
            Automatic Analytics • Statistics • Charts • Reports
        </p>

        <a href="/upload" class="btn">
            Start Analysis
        </a>

    </div>

    <div class="features">

        <div class="card">
            <h3>Dataset Profiling</h3>
            <p>
                Automatic row, column and quality analysis.
            </p>
        </div>

        <div class="card">
            <h3>Dynamic Charts</h3>
            <p>
                Automatic visualizations from uploaded datasets.
            </p>
        </div>

        <div class="card">
            <h3>Executive Summary</h3>
            <p>
                AI-generated business insights.
            </p>
        </div>

        <div class="card">
            <h3>Export Reports</h3>
            <p>
                Download PDF and DOCX reports.
            </p>
        </div>

    </div>

</div>

</body>
</html>